<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<style>
  .channel {
    color: #95979C;
  }
  .checkbox-text {
    font-family: 'THICCBOI';
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
  .disclaimer {
    margin-top: 0.5rem;
    font-size: 0.75rem;
  }
  input:checked + label {
    color: #D2042D;
    font-weight: 900;
  }
  .url-box-description {
    font-family: 'THICCBOI';
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>Bouncer Security Bot</h1>
<h2>Settings for <span class="channel">#{{ channel_name }}</span> in {{ server_name }}</h2>

<form class="pure-form" action="?" method="post">
  <div class="checkbox-text">
  <input type="checkbox" id="checkbox-radio-option-one" value="" name="urls_disabled" >
  <label for="checkbox-radio-option-one" title="No URLs allowed at all on this channel">
    Disable all links in channel
  </label>
  </div>
  <br />
  <div class="url-box-description">
    URLs to add to <span class="channel">#{{ channel_name }}</span>'s allowlist:
  </div>
  <textarea style="height: 200px; width:500px" placeholder="List of allowed URLs (comma separated)" name="allowed_urls"></textarea>
  <div class="disclaimer">* This only <i>adds</i> URLs to the allowlist. This box doesn't show URLs already added before.</div>
  <br />
  <br />
  <input type="hidden" value="{{ key }}" name="key">
  <button type="submit" class="pure-button pure-button-primary">Save Settings ⚙</button>
</form>
