<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
<style>
  body {
    background-color: #080b1a;
    color: #fefeff;
    margin: auto;
    margin-top: 3rem;
    max-width: 800px;
  }
  @font-face {
    font-family: 'THICCBOI';
    src: url('fonts/Webfont/THICCCBOI-Regular.woff2') format('woff'),
         url('fonts/TTF/THICCCBOI-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'THICCBOI-Bold';
    src: url('fonts/Webfont/THICCCBOI-Bold.woff2') format('woff'),
         url('fonts/TTF/THICCCBOI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
  }
  h1 {
    font-family: 'THICCBOI-Bold';
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-family: 'THICCBOI-Bold';
    font-size: 1.25rem;
  }
  .channel {
    color: #95979C;
  }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>Bouncer settings saved!</h1>
 <h2>For <span class="channel">#{{ channel_name }}</span> in {{ server_name }}</h2>

