<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>Bouncer Statistics</h1>
<p>Servers protected: {{ server_count }}</p>
<p>Users protected: {{ user_count }} (raw count)</p>
<br/>
<p>URLs scanned: {{ urls_scanned_count }}</p>
<p>Malicious URLs: {{ malicious_urls_scanned_count }}</p>
<br/>
<p>Unique URLs scanned: {{ unique_urls_scanned_count }}</p>
<p>Unique malicious URLs scanned: {{ unique_malicious_urls_scanned_count }}</p>
<br/>
<h1>Pipeline Statistics</h1>
<p>Total URLs scanned: {{ total_urls_scanned_count }}</p>
<p>Total Malicious URLs scanned: {{ total_malicious_urls_scanned_count }}</p>
